.telegram-link{
  background: var(--main-color);
  border-radius: 30px;
  padding: 13px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  max-width: 275px;
  &__icon{
    font-size: 17px;
  }
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
