@font-face {
  font-family: "Avenir Next";
  src: url("~assets/fonts/AvenirNextCyr-Regular.ttf") format("ttf");
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("~assets/fonts/AvenirNextCyr-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
}
