@import "fonts";
#__layout{
  height: 100vh;
}
body{
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.light-btn{
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 500ms;
  outline: none;
  border: 2px solid #171717;
  &:hover,&.active,&:active{
    background: #171717;
    text-decoration: none;
    color: #fff;
    outline: none;
  }
}
@media (min-width: 768px){
  .light-btn{
    padding: 10px 24px;
    line-height: 30px;
  }
}
