.basket{
  position: relative;
  display: flex;
  &__total{
    margin-left: 5px;
    background-color: #CC2929;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 750;
    padding: 2px 5px;
    color: #fff;
  }
}
