.statistic-filter-block{
  border-radius: 12px;
  border: 1px solid var(--main-color);
  position: relative;
  overflow: hidden;
  &__container{
    position: relative;
    z-index: 2;
    padding: 24px 12px;
  }
  &__bg{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0 !important;
  }
  &__title,label,legend{
    color: #fff;
  }
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  &__body{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
    margin-bottom: 12px;
    &-item{
      height: 40px;
      .vs__dropdown-toggle{
        border-color: var(--main-color);
      }
      .v-select,.vs__dropdown-toggle{
        height: 100%;
      }
      input{
        color: var(--main-color);
        font-weight: 500;
      }
    }
  }
  &__btn{
    &-cancel{
      background-color: #EB6758 !important;
      color: #fff !important;
      //&:hover{
      //  background-color: var(--main-color) !important;
      //  border-color: var(--main-color);
      //}
    }
    &-accept{
      //&:hover{
      //  border-color: var(--main-color);
      //}
    }
  }
  &__footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
  }
}
@media (min-width: 768px){
  .statistic-filter-block{
    &__container{
      padding: 24px;
    }
    &__title{
      display: none;
    }
    &__btn{
      &-cancel{
        margin-right: 15px;
      }
    }
    &__body{
      grid-template-columns: repeat(5,1fr);
      &-item{
        input{
          font-size: 16px;
        }
      }
    }
    &__footer{
      display: flex;
      justify-content: flex-end;
    }
  }
}
