.socials{
  display: grid;
  grid-template-columns: repeat(3,34px);
  align-items: center;
  grid-gap: 15px;
  list-style-type: none;
  padding-left: 0;
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 34px;
  }
  .instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 10px;
    a{
      color: #fff;
    }
  }
}
