.basket{
  position: relative;
  text-decoration: none;
  color: var(--main-color);
  width: 45px;
  height: 45px;
  background: #F5F5F5;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: var(--main-color);
  }
  &__total{
    position: absolute;
    background: var(--main-color);
    color: #fff;
    font-weight: 750;
    font-size: 12px;
    line-height: 15px;
    border-radius: 10px;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}
