.statistic-table{
  &__card{
    border-radius: 30px;
    padding: 20px 30px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
  }
  &__title{
    font-size: 36px;
    line-height: 49px;
    color: #171717;
    margin-bottom: 0;
  }
  &__filter-btn,&__select-btn,&__title,&__filter-btn-container,&__btn-container{
    width: 100%;
  }
  &__filter-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &__table{
    td {
      border: none;
    }
    thead th{
      border-top: none;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::before,.page-item.active .page-link,.page-link:hover{
    background-color: #171717;
    border-color: #171717;
  }
}
@media (min-width: 768px){
  .statistic-table{
    &__card{
      padding: 40px 60px;
    }
    &__filter-btn,&__select-btn,&__title,&__filter-btn-container,&__btn-container{
      width: inherit;
    }
    &__filter-modal{
      position: absolute;
      top: 70px;
      right: 0px;
    }
  }
}
