.products-shop{
  &__card{
    border-radius: 30px;
    padding: 20px 30px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
  }
  &__title{
    font-size: 36px;
    line-height: 49px;
    color: var(--main-color);
    margin-bottom: 0;
  }
  &__filter-btn,&__add-btn,&__title,&__filter-btn-container,&__btn-container{
    width: 100%;
  }
  &__filter-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  &__list{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    &-footer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 6px;
    }
  }
  &__modal{
    &-description{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: #fff;
      &__header{
        border-bottom: 1px solid #F5F5F5;
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
        grid-gap: 10px;
      }
      &__body,&__header{
        padding: 13px 0;
      }
      &__close{
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          border: none;
          outline: none;
        }
      }
      &__title{
        text-align: center;
      }
      &__subtitle{
        font-weight: 600;
        margin-bottom: 16px;
      }
    }
  }
  &__loader{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
@media (min-width: 768px){
  .products-shop{
    &__card{
      padding: 40px 60px;
    }
    &__filter-btn,&__add-btn,&__title,&__filter-btn-container,&__btn-container{
      width: inherit;
    }
    &__filter-modal{
      position: absolute;
      top: -40px;
      right: 115px;
      left: inherit;
    }
    &__list{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 25px;
    }
    &__modal {
      &-description {
        width: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
      }
    }
  }
}
@media (min-width: 992px){
  .products-shop{
    &__list{
      grid-template-columns: repeat(3,1fr);
    }
  }
}
@media (min-width: 1400px){
  .products-shop{
    &__list{
      grid-template-columns: repeat(4,1fr);
    }
  }
}
