.auth-product-slider{
  margin-bottom: 73px;
  &__wrapper{
    transition-timing-function: linear;
  }
  &__item{
    min-height: 150px;
    height: 100%;
    position: relative;
  }
  &__icon{
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    &:nth-child(1){
      top: 10%;
      left: 10%;
    }
    &:nth-child(2){
      top: 40%;
      left: 80%;
    }
    &:nth-child(3){
      top: 90%;
      left: 10%;
    }
    &:nth-child(4){
      top: 50%;
      left: 50%;
    }
    &:nth-child(5){
      top: 70%;
      left: 40%;
    }
    &:nth-child(6){
      top: 45%;
      left: 25%;
    }
    &:nth-child(7){
      top: 35%;
      left: 15%;
    }
    &:nth-child(8){
      top: 15%;
      left: 30%;
    }
  }
}
@media (min-width: 768px){
  .auth-product-slider{
    &__item{
      height: 240px;
    }
    &__icon{
      font-size: 50px;
    }
  }
}
