.header{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--main-color);
  &__cart{
    text-decoration: none;
    color: var(--main-color);
    list-style-type: none;
    position: relative;
    .basket__total{
      position: absolute;
      top: -13px;
      right: -20px;
      width: 15px;
      height: 15px;
      z-index: 5;
    }
  }
  &__container{
    margin-bottom: 121px;
  }
  &__toggle{
    background: #F5F5F5;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
  }
  &__user-settings{
    .dropdown-toggle::after{
      display: none;
    }
    &__name{
       color: var(--main-color);
    }
    &__icon{
      color: var(--main-color);
      font-size: 10px;
    }
  }
}
