.header{
  padding-top: 30px;
  padding-bottom: 30px;
  &__cart{
    text-decoration: none;
    color: var(--main-color);
    list-style-type: none;
    position: relative;
    .basket__total{
      position: absolute;
      background: var(--main-color);
      color: #fff;
      font-weight: 750;
      font-size: 12px;
      line-height: 15px;
      border-radius: 10px;
      top: -13px;
      right: -20px;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
    }
  }
  &__container{
    margin-bottom: 121px;
  }
  &__toggle{
    background: #F5F5F5;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user-settings{
    .dropdown-toggle::after{
      display: none;
    }
    &__name{
       color: var(--main-color);
    }
    &__icon{
      color: var(--main-color);
      font-size: 10px;
    }
  }
}
